<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment
---

# ğŸŒ± **ê¸°ë³¸ ê³¼ì œ**

In [1]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 69 kB 3.1 MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.0

In [2]:
!pip install eli5

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting eli5
  Downloading eli5-0.13.0.tar.gz (216 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 216 kB 4.1 MB/s
Requirement already satisfied: attrs>17.1.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (22.1.0)
Collecting jinja2>=3.0.0
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 133 kB 61.9 MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from eli5) (1.7.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from eli5) (1.0.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from eli5) (0.8.10)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.7/dist-packages (from jinja2>=3.0.0->eli5) (2.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->eli5) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->eli5) (1.1.0)
Building wheels for collected packages: eli5
  Building wheel for eli5 (setup.py) ... done
  Created wheel for eli5: filename=eli5-0.13.0-py2.py3-none-any.whl size=107748 sha256=a52e47902b50c197d90bda23622bf80d7423470a712e06c0a6fa148f576adb11
  Stored in directory: /root/.cache/pip/wheels/cc/3c/96/3ead31a8e6c20fc0f1a707fde2e05d49a80b1b4b30096573be
Successfully built eli5
Installing collected packages: jinja2, eli5
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 2.11.3
    Uninstalling Jinja2-2.11.3:
      Successfully uninstalled Jinja2-2.11.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires Jinja2<3.0,>=2.10.1, but you have jinja2 3.1.2 which is incompatible.
Successfully installed eli5-0.13.0 jinja2-3.1.2

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import eli5

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder 
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from category_encoders import OrdinalEncoder
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from eli5.sklearn import PermutationImportance

## **Part 1. ë°ì´í„° ì¤€ë¹„**

- ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
  - https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset
- íƒ€ê²Ÿê³¼ íŠ¹ì„±ì„ ì§€ì •í•´ ì£¼ì„¸ìš”. 
  - íƒ€ê²Ÿì€ `Attrition`ì…ë‹ˆë‹¤.  
- í›ˆë ¨/í‰ê°€ ë°ì´í„°ì…‹ì„ ë¶„ë¦¬í•˜ì„¸ìš”.
  - í›ˆë ¨/í‰ê°€ ë°ì´í„°ì˜ ë¹„ìœ¨ì€ 8:2ë¡œ í•©ë‹ˆë‹¤.
  - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.

In [4]:
# ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° 
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/Employee-Attrition.csv')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [18]:
target = 'Attrition'
features = [df.drop(columns = 'Attrition').columns]

In [11]:
train,test = train_test_split(df,test_size = 0.2 , random_state=42)

In [ ]:
df["Attrition"] = pd.Categorical(df["Attrition"]).codes

In [15]:
X_train, y_train = train[features], train[target]
X_test, y_test = test[features], test[target]

## **Part 2. ëª¨ë¸ í•™ìŠµ**

- íƒ€ê²Ÿ Labelì„ `No=0`, `Yes=1`ë¡œ ë³€í™˜í•˜ì„¸ìš”.
  - í›ˆë ¨/í‰ê°€ ë°ì´í„° ëª¨ë‘ ë³€í™˜í•©ë‹ˆë‹¤. 
- í›ˆë ¨ ë°ì´í„°ì…‹ì— ëŒ€í•˜ì—¬ ê¸°ì¤€ëª¨ë¸ì˜ AUC scoreë¥¼ í™•ì¸í•˜ì„¸ìš”.
  - ê¸°ì¤€ëª¨ë¸ì€ ìµœë¹ˆê°’ìœ¼ë¡œ ë§Œë“­ë‹ˆë‹¤.
- `OrdinalEncoder()`ë¥¼ ì‚¬ìš©í•˜ì—¬ íŠ¹ì„±ì„ ì¸ì½”ë”©í•˜ì„¸ìš”. 
- `RandomForestClassifier()`ë¥¼ ì‚¬ìš©í•˜ì—¬ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì„ í•™ìŠµí•˜ì„¸ìš”. 
  - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `n_jobs=-1`, `max_depth=3`ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
- `Cross_val_score()`ë¥¼ í™œìš©í•´ì„œ í•™ìŠµì‹œí‚¨ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì˜ ê²€ì¦ scoreë¥¼ êµ¬í•˜ì„¸ìš”.
  - `cv=10`, `n_jobs=-1`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `scoring`ì€ `roc_auc`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ê²€ì¦ scoreëŠ” í‰ê· ê°’ìœ¼ë¡œ êµ¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [19]:
y_train.head()

1097    0
727     0
254     0
1175    0
1341    0
Name: Attrition, dtype: int8

In [26]:
y_train.value_counts(normalize = True)

0    0.831633
1    0.168367
Name: Attrition, dtype: float64

In [29]:
from sklearn.metrics import roc_curve, roc_auc_score


### ê¸°ì¤€ëª¨ë¸ì˜ auc êµ¬í•˜ê¸°

roc_auc_score(y_train,[0] * len(y_train))

0.5

##### **Q1. ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì˜ ê²€ì¦ AUC scoreë¥¼ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì œì¶œí•´ ì£¼ì„¸ìš”.**

In [32]:
## ì—¬ê¸°ì—ì„œ ê³¼ì œë¥¼ ìˆ˜í–‰í•´ì£¼ì„¸ìš”.

pipe = make_pipeline(
    
 OrdinalEncoder(),
 RandomForestClassifier(
            random_state=42, n_jobs=-1, max_depth=3
        ),
)

pipe.fit(X_train,y_train)


cv_results = cross_val_score(
    pipe, 
    X_train, 
    y_train, 
    cv=10,
    scoring="roc_auc",
    n_jobs=-1
    )

## ë‹µ : 0.80

In [36]:
round(cv_results.mean(),3)

0.802

## **Part 3. ìˆœì—´ì¤‘ìš”ë„**

- `PermutationImportance()`ë¥¼ ì‚¬ìš©í•´ `permuter`ë¥¼ ì •ì˜í•˜ì„¸ìš”.
  - ëª¨ë¸ì€ `randomforestclassifier`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
  - í‰ê°€ì§€í‘œëŠ” `roc_auc`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `n_iter=5`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
- í‰ê°€ ë°ì´í„°ì…‹ì— ëŒ€í•˜ì—¬ íŠ¹ì„±ì— Ordinal Encodingì„ ì ìš©í•˜ê³ , `permuter`ë¡œ scoreë¥¼ ë‹¤ì‹œ ê³„ì‚°í•˜ì„¸ìš”. 
- eli5 ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ `.show_weights`ë¥¼ ì‚¬ìš©í•´ íŠ¹ì„±ë³„ scoreë¥¼ í™•ì¸í•˜ì„¸ìš”.  
  - `top=None`ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
- scoreê°€ í‰ê· ë³´ë‹¤ í° íŠ¹ì„±ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì„ í•™ìŠµí•˜ì„¸ìš”.
  - íƒ€ê²Ÿê³¼ íŠ¹ì„±(scoreê°€ í‰ê· ë³´ë‹¤ í°)ì„ ì§€ì •í•©ë‹ˆë‹¤.
  - í›ˆë ¨/í‰ê°€ ë°ì´í„°ì…‹ì„ ë¶„ë¦¬í•©ë‹ˆë‹¤. 
    - í›ˆë ¨/í‰ê°€ ë°ì´í„°ì˜ ë¹„ìœ¨ì€ 8:2ë¡œ í•©ë‹ˆë‹¤.
    - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - íŠ¹ì„±ì€ Ordinal Encodingì„ ì ìš©í•©ë‹ˆë‹¤. 
  - `RandomForestClassifier()`ë¥¼ ì‚¬ìš©í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµí•©ë‹ˆë‹¤.
    - `random_state=42`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
    - `n_jobs=-1`, `max_depth=3`ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
- `Cross_val_score()`ë¥¼ í™œìš©í•´ì„œ í•™ìŠµì‹œí‚¨ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì˜ ê²€ì¦ scoreë¥¼ êµ¬í•˜ì„¸ìš”.
  - `cv=10`, `n_jobs=-1`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 
  - `scoring`ì€ `roc_auc`ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ê²€ì¦ scoreëŠ” í‰ê· ê°’ìœ¼ë¡œ êµ¬í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- í‰ê°€ ë°ì´í„°ì…‹ì— ëŒ€í•˜ì—¬ ëª¨ë¸ì˜ AUC scoreë¥¼ êµ¬í•˜ì„¸ìš”.

##### **Q2. ìˆœì—´ì¤‘ìš”ë„ ê³„ì‚° ê²°ê³¼ scoreê°€ ê°€ì¥ ë†’ì€ íŠ¹ì„±ì˜ ì´ë¦„ì„ ì œì¶œí•´ ì£¼ì„¸ìš”.**

##### **Q3. ìƒìœ„ íŠ¹ì„±ìœ¼ë¡œ í•™ìŠµí•œ ëœë¤í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì˜ ê²€ì¦ AUC scoreë¥¼ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì œì¶œí•´ ì£¼ì„¸ìš”.**

##### **Q4. í‰ê°€ ë°ì´í„°ì…‹ì— ëŒ€í•˜ì—¬ ëª¨ë¸ì˜ AUC scoreë¥¼ ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ì œì¶œí•´ ì£¼ì„¸ìš”.**

In [37]:
## ì—¬ê¸°ì—ì„œ ê³¼ì œë¥¼ ìˆ˜í–‰í•´ì£¼ì„¸ìš”.

import eli5
from eli5.sklearn import PermutationImportance

# permuter ì •ì˜
permuter = PermutationImportance(
    pipe.named_steps["randomforestclassifier"],  # model
    scoring="roc_auc",  # metric
    n_iter=5,  # ë‹¤ë¥¸ random seedë¥¼ ì‚¬ìš©í•˜ì—¬ 10ë²ˆ ë°˜ë³µ
    random_state=42,
)

# ìŠ¤ì½”ì–´ë¥¼ ë‹¤ì‹œ ê³„ì‚°í•©ë‹ˆë‹¤.
X_test_preprocessed = pipe[0].transform(X_test)
permuter.fit(X_test_preprocessed, y_test)

PermutationImportance(estimator=RandomForestClassifier(max_depth=3, n_jobs=-1,
                                                       random_state=42),
                      random_state=42, scoring='roc_auc')

In [39]:
feature_names = X_test.columns.tolist()


eli5.show_weights(
    permuter,
    top=None,  # top n ì§€ì • ê°€ëŠ¥, None ì¼ ê²½ìš° ëª¨ë“  íŠ¹ì„±
    feature_names=feature_names,  # list í˜•ì‹ìœ¼ë¡œ ë„£ì–´ì•¼ í•©ë‹ˆë‹¤
)

## ê°€ì¥ ì¤‘ìš”ë„ê°€ ë†’ì€ ì¹¼ëŸ¼ : OverTime

In [42]:
permuter.feature_importances_.mean()

0.003208233519652152

# ğŸ¥‡ **ë„ì „ ê³¼ì œ**

## **Part 4. í”„ë¡œì íŠ¸ ì¤€ë¹„**

> ë‹¤ìŒì£¼ë¶€í„° í”„ë¡œì íŠ¸ê°€ ì§„í–‰ë©ë‹ˆë‹¤. <br>
> ê´€ì‹¬ìˆëŠ” í”„ë¡œì íŠ¸ ì£¼ì œì™€ ë°ì´í„°ë¥¼ ì‚´í´ë³´ì‹œê³ , ë°ì´í„°ê°€ ì •í•´ì¡Œë‹¤ë©´ í•´ë‹¹ ë°ì´í„°ë¡œ ë„ì „ê³¼ì œë¥¼ ì§„í–‰í•´ë³´ì„¸ìš”.

- í”„ë¡œì íŠ¸ì— ì‚¬ìš©í•  ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
- ëª¨ë“  íŠ¹ì„±ì— ëŒ€í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµí•˜ê³ , í‰ê°€ì§€í‘œë¥¼ êµ¬í•˜ì„¸ìš”. 
  - íƒ€ê²Ÿê³¼ ë¬¸ì œì— ì í•©í•œ ëª¨ë¸ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. 
- ìˆœì—´ì¤‘ìš”ë„ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.
- ìˆœì—´ì¤‘ìš”ë„ì˜ ìƒìœ„ íŠ¹ì„±ë§Œ ì‚¬ìš©í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµí•˜ê³ , í‰ê°€ì§€í‘œë¥¼ êµ¬í•˜ì„¸ìš”. 
- ëª¨ë“  íŠ¹ì„±ì— ëŒ€í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµí–ˆì„ ë•Œì™€ ìƒìœ„ íŠ¹ì„±ë§Œ ì‚¬ìš©í•˜ì—¬ ëª¨ë¸ì„ í•™ìŠµí–ˆì„ ë•Œì˜ í‰ê°€ì§€í‘œë¥¼ ë¹„êµí•´ ë³´ì„¸ìš”.